
.product-holder__products {
  /*    padding: 0 1.5rem;*/
  width: 100%;
}

.cart-product:first-child {
  border-top: 1px solid #ccc;
  display: flex;
  /*    padding: 16px;*/
  max-width: 100%;
}

.cart-product {
  min-height: 145px;
  padding: 1rem;
  /*    margin-top: 1rem;*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

.cart-product__body {
  margin-right: auto;
}

.cart-product__image-holder {
  display: block;
  width: 112px;
  height: 112px;
  text-align: center;
  vertical-align: middle;
  margin-right: 2%;
}

.cart-product__image {
  max-width: 100%;
  max-height: 100%;
}

img {
  border-style: none;
}

.cart-product__title {
  display: block;
  margin-bottom: 5%;
  font-size: .9375rem;
  line-height: 1.25rem;

}

.cart-product__price {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  color: #8400ff;
}

.link
{
  color: #2e2e2e;
  fill: #2e2e2e;
  text-decoration: none;
  cursor: pointer;
}

.cart-product__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}


.cart-counters {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  width: 100%;
  padding: 0 1rem;
  font-weight: 700;
}

.cart-product__btn {
  background-color: transparent;
  border: 0;
  font-size: .8125rem;
  line-height: 1.0625rem;
  color: #8400ff;
  fill: #8400ff;
}


.cart-counters__btn--small {
  border: 1px solid #8400ff;
  border-radius: 5px;
  background: #fff;
  font-size: .8125rem;
  margin: 0 15px;
}


.cart-counters__btn {
  width: 25px;
  height: 25px;
  border-width: 2px;
  padding: 0;
  line-height: 1.4rem;
}

.button--secondary:active {
  color: #fff;
  background-color: #4f0099;
  border-color: #4f0099;
}

.button--secondary:hover {
  color: #fff;
  background-color: #6900cc;
  border-color: #6900cc;
}
