

  <section class="product-holder__products">
    <article class="cart-product">
      <div class="cart-product__image-holder"><img src="{{merchandiseBasket.img}}" alt="" class="cart-product__image"></div>
      <div class="cart-product__body"><a href="#" class="cart-product__title link">{{merchandiseBasket.name}}</a>
        <div class="cart-product__price"><span class="app-price">{{merchandiseBasket.price}}</span></div>
      </div>
      <aside class="cart-product__actions">
        <div class="cart-counters cart-counters--small">
          <button class="button--secondary cart-counters__btn cart-counters__btn--small">−</button>

          <p class="cart-counters__count cart-counters__count--small">1</p><button class="button--secondary cart-counters__btn cart-counters__btn--small">+</button></div>
        <button class="link cart-product__btn">удалить</button>
      </aside>
    </article>
  </section>


