<!--merchandise-->

<article class="product">

    <a href="" class="link">
      <div class="product-foto">
        <!--<img src="/assets/img/product.jpeg" alt="" class="foto">-->
        <img src="{{merchandise.img}}" alt="" class="foto">
      </div>
      <h3 class="product-name">
        {{merchandise.name}}
      </h3>
    </a>
    <p class="product-price">{{merchandise.price}}</p>
    <div class="add-product-btn">
      <button class='button' (click)="addProuct()"><span>Добавить в корзину</span></button>
    </div>

</article>
