<nav class="main-nav">


  <div class="main-nav__burger">
    <!--()- говори,что мы передаем из шаблона в компонет -->
    <button class="the-burger" [ngClass]="{'active': activeClass}" (click)="admMenuShow();" *ngIf="adminMenuView">
      <span >Каталог</span>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </div>

  <div class="main-nav__search">
    <form [formGroup]="" class="search">
      <div class="search-wrap">
        <input type="search" placeholder="Поиск по артикулу, названию, категории" class="search__input" />
        <button type="submit" class="search__btn">
          <i class="fa fa-search fa-2x" aria-hidden="true" style="color: #8400ff;"></i>
        </button>
      </div>

    </form>
  </div>


  <!--Вопрос если убрать div?то верстка слетает, как сделать так, чтобы не использовать div лишний-->
  <div class="contacts">
    <div class="contacts__tel">
      <a class="link" href="tel:+74934446">+7 (831) 333 46 76</a>
    </div>
    <div class="contacts__working-hours">c 09:00 до 21:00, без выходных
    </div>
  </div>

  <div class="baskets">
        <a class="link" routerLink="/basket">
          <div>
            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
            <!---->
          </div>
        </a>
  </div>


</nav>
